 <div class="user-details">
  <h1> My Interests </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-css3-plain colored"></i>
      
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-flutter-plain colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-java-plain colored"></i>
      
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-nginx-original colored"></i>
      <i class="devicon-photoshop-plain colored"></i>
      
    </div>
</div>
